<div class="container ">
    <div class="row justify-content-center">
        <div class="col"> 
            <h1 class="text-center texto-blanco ">🅰️ Angular 🅰️</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <img src="../../assets/img/angular.png" class="img-fluid" alt="Mi imagen">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="texto-blanco ">
                Angular es un framework de desarrollo para JavaScript creado por Google. Facilita el proceso de programación al separar por completo el front-end del back-end. Inicialmente se llamó AngularJS, pero en las siguientes versiones con mejoras de rendimiento y sintaxis pasó a llamarse "Angular 2". Aunque algunas personas continúan nombrando las nuevas versiones como Angular 4, Angular 5, etc., esencialmente se trata del mismo Angular.
            </p>
        </div>
        
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <img src="../../assets/img/G.webp" class="img-fluid" alt="Mi imagen">
            </div>
            
            <p class="mt-30px font-weight-bold texto-blanco ">Es un Framework o plataforma que te permite crear aplicaciones Web o SPA (Single Page Applications). Creado por Google.</p>
       
        </div>        
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pt8A4lcyid0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h1 class="texto-blanco ">🕰️ Historia 🕰️</h1>
            </div>
            <br>
            <p class="texto-blanco ">Fue desarrollado en el 2009 por Miško Hevery, inicialmente se llamaba AngularJS, el cual estaba basado en JS.</p>
            <p class="texto-blanco "> El 14 de septiembre del 2016 fue lanzado Angular 2, que conocemos en la actualidad como Angular, basado en Typescript, el cual fue escrito desde cero.</p>
            <div class="text-center">
                <h2 class="texto-blanco ">📋 Características 📋</h2>
            </div>
            <br>
            <ul>
                <li class="texto-blanco "> <samp class="font-weight-bold">Modularidad:</samp> las funcionalidades se empaquetan en módulos, produciendo un núcleo más ligero y más rápido. 📦</li>
                <li class="texto-blanco "> <samp class="font-weight-bold">Compatibilidad:</samp> compatible con los navegadores más modernos y recientes. 🆕</li>
                <li class="texto-blanco "> <samp class="font-weight-bold">Rapidez:</samp> Mejora la rapidez en las aplicaciones y la nueva versión (Angular 8), permite una gran mejora en el rendimiento de las aplicaciones.</li>
                <li class="texto-blanco "> <samp class="font-weight-bold">Fácil de aprender:</samp> el Framework es fácil de aprender, es sencillo hacer tu primera App en Angular solo debemos aprender un poco sobre la sintaxis de Angular y algunos conceptos y  crearemos nuestra App de forma sencilla.</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
            <h2 class="texto-blanco ">🤔 ¿Por Qué Angular? 🤔</h2>
            </div>
            <br>
            <p class="texto-blanco ">
                 ¿Por qué no usarlo? Angular es una plataforma de código abierto desarrollada en 2009, tuvo grandes cambios y características mejoradas para hacerla más ligera y rápida. Es uno de los instrumentos de desarrollo de software más populares y ahora Angular tiene una gran comunidad y aumenta cada año. Por supuesto, podemos mencionar algunas ventajas y desventajas sobre este marco.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <img src="../../assets/img/a.webp" class="img-fluid" alt="Mi imagen">
            </div>
        </div>        
    </div>
</div>

<br>
<br>